{% extends 'Kasha/base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block content %}
{% load kasha_extras %}

{% load crispy_forms_tags %}


{% block header %}
<link href="{% static 'index.css' %}" rel="stylesheet">


    {% endblock header %}

<div class="container-fluid">
<br / >
<br / >
<br / >
{% verbatim %}

<div ng-app="myApp" ng-controller="myCtrl"> 

    <select ng-model="selectedChumash" ng-change="showSelectValue(selectedChumash)">
       <option value=''>Choose</option>
      <option ng-repeat="x in chumash" value="{{x.book}}">{{x.book}}</option>
    </select>

    Chapter: <select id="select-chapter" name="chapter"></select>
    <button ng-click="searchSefariaApi()">Search</button>

    <h1> You have selected: {{ selectedChumash }} </h1>

    <h1>{{sefer}}</h1>
    <h1>{{chapter}}</h1>

    <p>The ID is {{greeting.id}}</p>
    <p>The content is {{greeting.content}}</p>

<table id="table" class="table table-striped table-bordered">
    <tbody>
        <tr ng-repeat="verse in pasukim">
          <td class="eng-text">{{ verse.en }}</td>
          <td dir="rtl" class="heb-text">{{ verse.he }} </td>
        </tr>
        <tr ng-repeat="r in verse.rashi">
          <td>{{ r.en }}</ed>
        </tr>
      </tbody>
</table>
</div>
{% endverbatim %}


    </div> <!-- /.container -->
{% endblock content %}


{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script>

var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope, $http) {

  $scope.chumash = [
        {book : "Genesis", chapters : 51},
        {book : "Exodus", chapters : 41},
        {book : "Leviticus", chapters :28 },
        {book : "Numbers", chapters : 37},
        {book : "Deuteronomy", chapters : 35},
    ];

 $scope.chumashPerakim = {
  'Genesis': 51,
  'Exodus': 41,
  'Leviticus': 28,
  'Numbers': 37,
  'Deuteronomy': 35
}


    $scope.selectedChumash = ""

    $scope.showSelectValue = function(mySelect) {
              console.log(mySelect);
              $scope.selectedChumash = mySelect;
              console.log($scope.chumashPerakim[mySelect]);
              var chapters = "";
                for (i = 1; i < $scope.chumashPerakim[mySelect]; i++) {
                          chapters += "<option>" + i + "</option>";
                        }
                        document.getElementById("select-chapter").innerHTML = chapters;
      }
    
  $scope.searchSefariaApi = function(){
    var selectedChapter= $('#select-chapter').find(":selected").text();
    var url = $scope.selectedChumash + "/" + selectedChapter;

    console.log(url);
    $http.get(url)
    .then(function (response) {$scope.pasukim = response.data;});
    console.log($scope.pasukim);
  };
  
});

</script>
<!--<script type="text/javascript" src="{% static 'js/sefariaApi.js' %}"></scrip> -->t
{% endblock %}