{% extends 'Kasha/base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block content %}

{% block header %}
<link href="{% static 'index.css' %}" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    {% endblock header %}
<div class="container-fluid">

      <div class="starter-template">
        <h1>Gotta Kashe?</h1>
      </br>
<form class="guess-form" action="#" method="post">
                                    {% csrf_token %}
                                    <div class="row center-block">
                                      <div class="col-6 col-md-4">
                                    {{ form.torahType }}
                                  </div>
                                  <div class="col-6 col-md-4">
                                    {{ form.sefer }}
                                  </div>
                                  <div class="col-6 col-md-4">
                                    {{ form.perek }}
                                  </div>
                                  </div>

                                    {% if form.errors %}
                                        {% for field in form %}
                                            {% for error in field.errors %}
                                                <div class="alert alert-error">
                                                    <strong>{{ error|escape }}</strong>
                                                </div>
                                            {% endfor %}
                                        {% endfor %}
                                        {% for error in form.non_field_errors %}
                                            <div class="alert alert-error">
                                                <strong>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                  </br>
                                    {% bootstrap_button "Search" button_type="submit" button_class="btn-primary" %}
                                </form>

                                <div class="search-results">

                                    <input type="button" value="English" class="btnLanguage" data-language="eng" />
                                    <input type="button" value="Both" class="btnLanguage" data-language="both" />
                                   <input type="button" value="Hebrew" class="btnLanguage" data-language="heb" />

                                  <h2>{{sefer}} {{perek}}</h2>

                                {% if results %}
                                <table id="table" class="table table-striped">
                                  <tbody>
                                 {% for pasuk, verse in results.items %}
                                              <tr>
                                                <!--<th scope="row">{{ pasuk }}</th>-->
                                                <td class="eng-text">{{ verse.en | safe }} </td>
                                                <td dir="rtl" class="heb-text">{{ verse.he }} </td>
                                              </tr>
                                          {% if verse.rashi.items %}
                                            {% for rashi, r in verse.rashi.items %}
                                            <tr>
                                              <td class="eng-rashi rashi-item eng-text">{{ r.en | safe  }}</td>
                                              <td dir="rtl" class="rashi-item heb-text heb-rashi">{{ r.he | safe  }}</td>
                                             </tr>
                                            {% endfor %} 
                                            {% endif %}
                                  {% endfor %}
                                {% endif %}
                                   </tbody>
                                </table>
                              </div>

          </div>
    </div> <!-- /.container -->
{% endblock content %}


{% block script %}
<script type="text/javascript">
var torahCategory = {
    Chumash: ["Genesis", "Exodus", "Leviticus", "Numbers", "Deuteronomy"],
    Gemara: ["Juice", "Water", "Others"]
}

var chumashPerakim = {
  Genesis: [51],
  Exodus: [41],
  Leviticus: [28],
  Numbers: [37],
  Deuteronomy: [35]
}

    function changecat(value) {
        if (value.length == 0) document.getElementById("category").innerHTML = "<option></option>";
        else {
            var catOptions = "";
            for (categoryId in torahCategory[value]) {
                catOptions += "<option>" + torahCategory[value][categoryId] + "</option>";
            }
            document.getElementById("category").innerHTML = catOptions;
            changeper('Genesis');
        }
    }

        function changeper(value) {
        if (value.length == 0) document.getElementById("perek").innerHTML = "<option></option>";
        else {
            var perOptions = "";
            for (i = 1; i < chumashPerakim[value]; i++) {
                perOptions += "<option>" + i + "</option>";
            }
            document.getElementById("perek").innerHTML = perOptions;
        }
    }

$(document).ready(function(){
    $('.btnLanguage').click(function() {

       language = $(this).data("language");

       languages = ['eng', 'heb']

       var diff = $(languages).not([language]).get()

       console.log(diff);

       if (diff.length == 2){
        $('#table').find('.heb-text, .eng-text').removeClass('hidden');
       } else {

       $('#table').find('.' + diff + '-text').addClass('hidden');

       $('#table').find('.' + language + '-text').removeClass('hidden');
       }
    });
});
</script>
{% endblock %}