{% extends 'Kasha/base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block content %}

{% block header %}
<link href="{% static 'question.css' %}" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    {% endblock header %}
<div class="container-fluid">

<h2>{{bcs}}</h2>
                                <table id="table" class="table table-striped">
                                  <tbody>
                                 {% for q in questions %}
                                              <tr>
                                                <td>{{ q.id }}</td>
                                                <td>{{ q.question.question_text }}</td>
                                              </tr>
                                  {% empty %}
                                  <li>Sorry, no questions yet...</li>
                                {% endfor %}
                                   </tbody>
                                </table>
{% endblock content %}
{% block script %}
</div> <!-- /.container -->
<script type="text/javascript">
</script>
{% endblock %}