li {
	list-style-type: none;
}
.has-link:hover { 
	text-decoration: underline;
}
tr.clickable-row { 
	cursor: pointer; 
}

.table>tbody>tr>td {
	border-top: none !important;
}

.pasuk-item {
	background-color: #FFFFFF !important;
}

.rashi-item {
	background-color: #EDF1F5 !important;
	margin: 5px;
	font-size: 13px;
}
.heb-rashi {
	padding-right: 45px !important;
}

.eng-rashi {
	padding-left: 45px !important;
}

.hidden{
      visibility: hidden;
 }

.pasuk-num {
	font-size: 16px;
	font-weight: bold;
	padding-right: 5px;
}

.container-fluid {
	overflow: hidden !important;
}

.search-results {
}

.question-builder {
	vertical-align: top;
	background-color: #222222;
	width: 30%;
	color: white;
	text-align: center;
}

.form-group {
	margin: auto;
	width: 85%;
	margin-bottom: 5%;
}